body {
    background-color: rgb(250, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    box-sizing: border-box;
}

header h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(95, 95, 95);
    font-size: 1.1em;
    padding-top: 50px;
    padding-left: 50px;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    padding: 20px 50px;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: solid 2px rgb(226, 226, 226);
    border-radius: 7px;
    padding: 20px;
}

.avatar {
    border-radius: 50%;
    margin: 0 20px;
}

.text-container p {
    color: rgb(170, 170, 170);
    font-size: 0.9em;
}

.name {
    font-size: 1em;
    color: rgb(99, 99, 99);
}

.email, 
.address {
    color: rgb(170, 170, 170);
    font-size: 0.9em;
}

/* --- Overlay --- */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 10% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 5px;
    padding: 30px 20px;
}

.modal hr {
    border: 1px solid rgb(222, 222, 222);
}
        
.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border:none;
    background-color: transparent;
}

.hidden {
    display: none;
}